# 4D
/Data/
DerivedData/
Project/Trash
*.journal
userPreferences.*
*.4BK
*.4ST
backupHistory.json
#
Logs/
WebFolder/
#
# macOS arm64 Libs
Libraries/

# Testergebnisse aus Unit4D
/**/UnitTests/results

# Unknown
temporary files/

# System Files
.DS_Store
ehthumbs.db
Thumbs.db

# IDEs
.idea
*.iml
#
*.code-workspace
.vscode/

