# 4D
/Data/
DerivedData/
Project/Trash
*.journal
userPreferences.*
*.4BK
*.4ST
Logs/
WebFolder/
# Other 4D stuff
temporary files/
# macOS arm64 Libs
Libraries/

# Test results Unit4D
/**/UnitTests/results

# System files
.DS_Store
ehthumbs.db
Thumbs.db

# IDEs
.idea
*.iml
#
*.code-workspace
.vscode/

